
.background-game img{
  width: 100vw;
  height: 100vh;

  z-index: 0;
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.gamePlayer {
  position: absolute;
  bottom: 20%;
}

.second-player {
  position: absolute;
  bottom: 0%;
  left: 75%;
}

.third-player {
  position: absolute;
  bottom: 0%;
  left: 85%;
}