
.background-game img{
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 0;
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.background-home-page {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.title-game {
  margin-top: 15vh;
}

.title-text-game {
  font-size: 5em;
}